
.well{
	border: 0px;
}
.thumb:hover{
	opacity: 0.7;
}
.search-results-product{
	margin-top: 30px;
}
.btn{
	font-size: 12px;
}
h4 a {
	color:black;
	text-decoration: none;
}
.navbar-default{
	background-color: #3fabff;
}

.navbar-nav > li{
	color: white !important;
	margin-top: 6px;
	margin-left: 6px;
}
.navbar-nav > li:hover{
background-color: #3a83bd !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
background-color: #3a83bd !important;
}
.navbar-nav > li >a{
	color: white !important;
}